doctype html
head
  title Title
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
.container
  .row
    .col-12
      form(action='/add' method='POST')
        .form-group
          label(for='idview') Nhap id
          input#idview.form-control(type='text' name='id' aria-describedby='helpId' placeholder='nhap id')
          small#helpId.form-text.text-muted nhapId
        .form-group
          label(for='name') Nhap ten
          input#name.form-control(type='text' name='production_name' aria-describedby='helpId' placeholder='nhap ten vao day')
          small#helpId.form-text.text-muted nhap ten
        .form-group
          label(for='price') Nhap gia
          input#price.form-control(type='text' name='production_price' aria-describedby='helpId' placeholder='nhap gia vao day')
          small#helpId.form-text.text-muted Nhap gia
        .form-group
          label(for='image') Nhap anh
          input#image.form-control(type='text' name='production_image' aria-describedby='helpId' placeholder='')
          small#helpId.form-text.text-muted Nhap link
        button.btn.btn-primary(type='submit' name='' id='' btn-lg='') ADD
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
